<div class="card-panel">
    <h5 class="font-slim">Suggestions</h5>
    <hr>
    <div class="alert alert-info">
        Could not find a match for you.<br>
        <small>How about you try to update your profile with more details.</small> 
    </div>
</div>