<div class="container ">
    <div class="p404 center-align">
        <h2 class="font-slim">Oops... Page not found!</h2>
        <h1>404</h1>
        <a href="/">Home Page</a>
    </div>
    <hr>
</div>