<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./stylesheets/materialize.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">

  <title>{{title}}</title>
</head>
<body>

  {{{body}}}

  <footer>
    <div class="footer-copyright">
    <div class="container center-align">
      <small class="text-mute">© 2017 Copyright - by: Mpho Kgosisejo</small>
    </div>
  </footer>

  <script type="text/javascript" src="./javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="./javascripts/materialize.min.js"></script>
  <script type="text/javascript" src="./javascripts/functions.js"></script>
  <script type="text/javascript" src="./javascripts/main.js"></script>
  <script type="text/javascript" src="./javascripts/request_handler.js"></script>
  <script type="text/javascript" src="./javascripts/user.js"></script>
  <script type="text/javascript" src="./javascripts/listener.js"></script>
</body>
</html>