<div class="row">
    <div class="col s12 m3 l4"></div>
    <div class="col s12 m6 l4">
        <br><br>
        <div class="card">
            <div class="card-content">
                <h4 class="font-slim">Change Password</h4>
                <hr>
                <form>
                    <div class="row">
                        <div class="input-field col s12" id="change_password_error"></div>
                        <div class="input-field col s12">
                            <input id="new_password" type="password" class="_validate">
                            <label for="new_password">New password</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="confirm_password" type="password" class="_validate">
                            <label for="confirm_password">Confirm password</label>
                        </div>
                        <input type="hidden" id="change_password_token" value="{{url_args.token}}">
                        <input type="hidden" id="change_password_email" value="{{url_args.email}}">

                        <div class="input-field col s12">
                            <button class="btn btn-block" id="btn_change_password">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container"><hr></div>