<nav class="margin-zero">
<div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="container">
        <a href="/" class="brand-logo">Matcha</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a class="subheader center-align"><small class="text-mute">author: Mpho Kgosisejo</small></a></li>
        </ul>
    </div>
</div>
</nav>

<div class="banner home">
    <div class="container">
        <div class="row">
            <div class="col xl7 m5 s12"></div>
            <div class="col xl5 m7 s12">
                <div class="login_n_reg">
                    <ul id="tabs-swipe-demo" class="tabs">
                        <li class="tab col s6"><a class="active" href="#test-swipe-1">Login</a></li>
                        <li class="tab col s6"><a href="#test-swipe-2">Register</a></li>
                    </ul>
                    <div class="tab-content-container">
                        <div id="test-swipe-1" class="tab-content col s12 white">
                            <br>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="col s12">
                                            <div id="login_err_mssg"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <input placeholder="Username or email" id="access_login" type="text" class="_validate">
                                            <label for="login" >Login</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input type="password" class="_validate" id="access_password">
                                            <label for="password" >Password</label>
                                        </div>
                                    </div>
                                    <small><a href="#forgot_password_modal" class="modal-trigger" id="load_forgotpassword">Forgot password</a></small>
                                    <br>
                                    <small><a href="/confirm-registration">Enter registration code</a></small>
                                    <br><br>
                                    <button class="btn btn-block waves-effect waves-light" type="submit" name="action" id="log_user">Login</button>
                                </form>
                            </div>
                        </div>
                        <div id="test-swipe-2" class="tab-content col s12 white">
                            <br>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="col s12">
                                            <div id="reg_err_mssg"></div>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="reg_first_name" type="text" class="_validate">
                                            <label for="first_name">First Name</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="reg_last_name" type="text" class="_validate">
                                            <label for="last_name">Last Name</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="reg_username" type="text" class="_validate">
                                            <label for="username" data-length="16">Username</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input type="text" id="dob" class="datepicker">
                                            <label for="dob">Date of Birth</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="reg_email" type="email" class="_validate">
                                            <label for="email" data-error="wrong" data-success="right">Email</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="reg_password" type="password" class="_validate">
                                            <label for="password" data-error="wrong" data-success="right">Password</label>
                                        </div>
                                    </div>
                                    <button class="btn btn-block waves-effect waves-light" type="submit" name="action" id="reg_user">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--
    ...
    <hr>
    -->
</div>

<div id="forgot_password_modal" class="modal">
    <div class="modal-content">
        <h5 class="font-slim">Forgot Password</h5>
        <hr>
        <form class="forgotpassword_container">
            <div class="row">
                <div class="forgotpassword_generate_token_container">
                    <div class="col s12">
                        <div id="verify_forgotpassword_error"></div>
                    </div>
                    <div class="input-field col s12">
                        <input id="forgotpassword_email" type="email" class="_validate">
                        <label for="forgotpassword_email" >Email</label>
                    </div>
                </div>

                <div id="forgotpassword_inputs_container">
                    <div class="col s12">
                        <div id="verify_forgotpassword_error">
                            <div class="chip chip-info chip-block">Check your mail for the token</div>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <input id="verify_forgotpassword_token" type="text" class="_validate">
                        <label for="verify_forgotpassword_token" >Enter token</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" id="forgotpassword_btn_next" class="modal-action waves-effect waves-green btn-flat">Next</a>
        <a href="#" id="forgotpassword_btn_continue" class="modal-action waves-effect waves-green btn-flat">Change Password</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>