@import url('https://fonts.googleapis.com/css?family=Bangers|Fredoka+One|Kaushan+Script|Lobster|Luckiest+Guy|Righteous|Shrikhand');
/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

body{
  color: #525252;
}

.banner{
  padding: 55px 0;
}

.banner.home{
  background: #efefef;
}

.tab-content{
  padding: 10px 0;
}

input{
  margin-bottom: 10px;
}

.btn-block{
  width: 100%;
}

.text-mute{
  color: rgb(150, 150, 150);
}

.alert{
  width: 100%;
  padding: 15px;
  background: #eee;
  color: rgb(105, 105, 105);
  margin-bottom: 15px;
  border-top: 1px solid rgb(105, 105, 105);
  border-bottom: 1px solid rgb(105, 105, 105);
}

.alert.alert-danger{
  background: rgb(255, 220, 220);
  color: rgb(212, 112, 112);
  border-top: 1px solid rgb(212, 112, 112);
  border-bottom: 1px solid rgb(212, 112, 112);
}

.alert.alert-success{
  color: rgb(113, 192, 92);
  background: rgb(212, 240, 209);
  border-top: 1px solid rgb(113, 192, 92);
  border-bottom: 1px solid rgb(113, 192, 92);
}

.alert.alert-info{
  color: rgb(92, 152, 192);
  background: rgb(209, 231, 240);
  border-top: 1px solid rgb(92, 152, 192);
  border-bottom: 1px solid rgb(92, 152, 192);
}

.chip-block{
  width: 100%;
}

.chip.chip-text-center, .alert.alert-text-center{
  text-align: center;
}

.chip.chip-danger{
  color: rgb(212, 112, 112);
  background: rgb(255, 220, 220);
}

.chip.chip-success{
  color: rgb(113, 192, 92);
  background: rgb(212, 240, 209);
}

.chip.chip-info{
  color: rgb(92, 152, 192);
  background: rgb(209, 231, 240);
}

#form_cnfrm_reg{
  display: none;
}

.font-slim{
  font-weight: 100;
}

nav{
  margin-bottom: 15px;
}

.nav_user_name{
  font-size: 1.25em;
}

h1, h2, h3, h4, h5{
  margin-top: 0;
}

hr{
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; 
}

.side-nav .divider{
  margin: 0;
}

/*.small-font{
  font-size: 110%;
}*/

.profile-container{
  overflow: hidden;
}

.profile{
  /*background: url('https://placeimg.com/640/480/people');
  background-size: cover;
  filter: blur(20px);*/

  height: 250px;
  width: 100%;
  position: relative;
}

.profile .bg{
  position: absolute;
  background-color: #525252;
  background: url('https://placeimg.com/640/480/people');
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  transform: scale(1.2);
  /*zoom: -250%;*/

  width: 100%;
  height: 100%;
}

.profile .info{
  height: 130px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
}

.profile .info img{
  height: 114px;
  /*width: 114px;*/
  box-shadow: 0 0 20px #525252;
}

.profile .names{
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  color: #fff;
  text-shadow: 0 0 10px #525252;
}

.profile .names span{
  font-size: 18px;
  font-weight: 100;
}

.profile .tabs_{
  width: 100%;
}

.profile-container .card-content{
  min-height: 175px;
}

.profile-container .tabs .tab{
  text-transform: none;
}

.profile-menu-btn{
  position: absolute;
  right: 0;
  bottom: -18px;
  z-index: 100;
  width: 36px;
  padding: 0;
  margin-right: 20px;
  border-radius: 50%;
}

.search-user-card-img{
  background-color: #525252;
  background: url('https://placeimg.com/640/480/people');
  background-size: cover;
  background-position: center;
  width: 125px;
}

.p404{
  margin: 85px 0;
  color: #858585;
}

.p404 h2{
  
}

.p404 h1{
  /*font-family: 'Bangers', cursive;*/
  font-family: 'Kaushan Script', cursive;
  /*font-weight: bold;*/
  font-size: 12em;

  /*background-color: #777777;
  color: transparent;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.945);
  -webkit-background-clip: text;
  -moz-background-clip: text;
       background-clip: text;*/
}