{{>usernavbar}}

<div class="container">
    <div class="row">
        <div class="col s7">
            <div class="card-panel">
                <!--
                <h5><span class="font-slim">{{user_data.firstname}} {{user_data.lastname}}</span> - {{user_data.username}}</h5>
                <hr>
                -->
            </div>
        </div>
        <div class="col s5">
            {{>suggestions}}
        </div>
    </div>
</div>