{{>usernavbar}}

<div class="container">
    <div class="row">
        <div class="col l7 s12">
            <div class="card-panel">
                <h5>Search for your Match</h5>
                <hr>
                <form >
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="search-user" type="text" class="validate" placeholder="eg. username, firstname or lastname">
                            <label class="active" for="search">Search</label>
                        </div>
                    </div>
                </form>
                <div class="row search-results" id="search-results">
                    <!--
                    <div class="col xl6 l12 m6 s12">
                        <div class="card horizontal search">
                            <div class="card-image search-user-card-img" style="">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="inner">
                                        <h5 class="name">Mpho Kgosisejo <span class="font-slim">mkgosise</span></h5>
                                        dd
                                    </div>
                                </div>
                                <div class="card-action">
                                    <div class="material-icons">stars</div>
                                    <a class='dropdown-button btn' href='#' data-activates='profile-view'><i class="material-icons">more_vert</i></a>
                                    <ul id='profile-view' class='dropdown-content'>
                                        <li><a href="#!">Connect</a></li>
                                        <li><a href="#!">View Profile</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="card-panel">
                <h5>My Connections</h5>
                <hr>
            </div>
        </div>
        <div class="col l5 s12">
            {{>suggestions}}
        </div>
    </div>
</div>