{{>usernavbar}}

<div class="container">
    <div class="row">
        <div class="col l7 s12">
            <div class="card-panel">
                <h5>Search for your Match</h5>
                <hr>
                <form >
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="search" type="text" class="validate" placeholder="eg. username, firstname or lastname">
                            <label class="active" for="search">Search</label>
                        </div>
                    </div>
                </form>
                <div class="row search-results" id="search-results">
                    <div class="col xl6 l12 m6 s12">
                        <div class="card horizontal">
                            <div class="card-image search-user-card-img" style="">
                                <!--<img src="https://placeimg.com/640/480/tech">-->
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-panel">
                <h5>My Connections</h5>
                <hr>
            </div>
        </div>
        <div class="col l5 s12">
            {{>suggestions}}
        </div>
    </div>
</div>